.idea/
.vscode/
.trae/
*.iml

local.properties
keystore.properties
*.jks
*.keystore

.gradle/
**/build/
.build_asmr_player_android/
captures/

app/.cxx/
**/.cxx/
**/.externalNativeBuild/
**/.kotlin/

*.apk
*.aab
*.dex
*.class

*.log
crash.txt
*.hprof

Thumbs.db
.DS_Store
